body {
    display:flex;
    flex-direction: column;
    font-family: roboto;
}

.header,
.awesome{
    display:flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-between;
    padding: 0px 80px;
    align-content: baseline;
}

.left-header{
    font-size: 24px;
    flex-shrink: 0;
}

.awesome
{
    padding: 30px 80px;
}
.awesome h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.awesome p {
    font-size: 18px;
    color: #e5e7eb;
}
.awesome-text{
    padding: 0px 60px 0px 0px;
}

.awesome .awesome-img {
    width: 300px;
    min-width: 100px;
}

.awesome-img {
    width:120px;
    height: auto;
}
.pic p{
    width:120px;
}

.pic{
    margin:10px;
}
.awesome button {
    background-color: #3882f6;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    border:none;
}

.random {
    background-color: white;
    padding: 30px 120px;
}

.random h1{
    text-align: center;
}
.rowofpics {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.rowofpics img {
    border: solid #3882f6;
    border-radius: 10px;
}

.quote {
    background-color: #e5e7eb;
    padding:30px 120px;
}
.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}
.quote .quote-author {
    font-style: normal;
    font-size: 24px;
    font-weight: 800;
    text-align: right;
}

.action {
    margin: 40px 80px;
    padding: 20px 50px;
    background-color: #3882f6;
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    color: white;
}

.action h1{
    font-size: 20px;
    margin: 0px
}

.action p {
    font-size: 15px;
    margin: 0px;
}
.action button {
    width: 150px;
    height: 40px;
    align-self: center;
    border-radius: 10px;
    border: solid 2px white;
    color: white;
    font-weight: 600;
    background-color: #3882f6;
}


.header{
    height: 40px;
}

.left-header,
.right-header {
    align-self: center;
}

.footer {
    background-color: #1f2937;
}

.footer p{
    text-align: center;
    color:white
}

ul{
    list-style: none;
    display:flex;
}

li {
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
}